# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore virtual environment directories
venv/
env/

# Ignore data files
data/
*.csv
*.zip

# Ignore model checkpoints
models/
*.h5

# Ignore log files
*.log

# Ignore temporary files
*.tmp
*.bak

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore VS Code settings
.vscode/

# Ignore any other untracked files
.DS_Store

# Ignore demo generated images
demo_generated_images/

# Ignore memory profiler data files
mprofile_*.dat
